{%extends 'base.html' %}
{% load static %}
{% block titulo %}
    Seu Carrinho de compras
{% endblock %}

{% block conteudo %}
    <div class="container">
        <div class="row" style="margin-top: 6%">
            <h2>Seu Carrinho de compra
                <span class="badge pull-right">
                    {% with total_de_itens=carrinho|length %}
                        {% if carrinho|length > 0 %}
                            Seu Pedidos:
                            <a href="
                                {% url "carrinho:detalhes_carrinho" %}"
                                style="color: #ffffff">
                                {{ total_de_itens }} item/itens,
                                {{ valorTotal.get_total_geral }}
                            </a>
                            {% else %}
                                Seu carrinho está vazio
                        {% endif %}
                    {% endwith %}
                </span>
            </h2>
                <table class="table table-striped table-hover">
                    <thead style="background-color: #5AC8FA">
                        <tr>
                            <th>imagem</th>
                            <th>Produto</th>
                            <th>Quantidade</th>
                            <th>Remover</th>
                            <th>Preço unitario</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in carrinho %}
                            
                            {% with produto=item.produto %}
                                <tr>
                                    <td>
                                        <img src="{% if produto.imagem %}
                                            {{produto.imagem.url}}
                                        {% else %}
                                        {% static
                                            'img/default.jpg'%}
                                        {% endif %}"
                                        alt="imagem de {{produto.nome}}"
                                        style="height: 100px; width: auto"/>
                                    </td>
                                    <td>{{produto.nome}}</td>
                                    <td>
                                        <form action="{% url "carrinho:adicionar_ao_carrinho" produto.id%}" method="POST">
                                            {%csrf_token %}
                                            {{item.formulario_adicionar_produto_ao_carrinho.quantidade}}
                                            {{item.formulario_adicionar_produto_ao_carrinho.atualizar}}
                                            <input type="submit" value="atualizar" class="btn btn-info">
                                        </form>
                                    </td>
                                    <td>
                                        <a href="{% url "carrinho:remover_do_carrinho" produto.id%}" class="btn btn-primary">
                                            Remover
                                        </a>
                                    </td>
                                    <td>R$ {{item.preco}}</td>
                                    <td>R$ {{item.subtotal}}</td>
                                </tr>
                            {%endwith%}
                        {%endfor%}
                        <tr style="background-color: #5AC8FA">
                            <td><b>Total</b></td>
                            <td colspan="4"></td>
                            <td colspan="num">
                                <b>R$ {{valorTotal.get_total_geral}}</b>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-right">
                    <a href="{% url 'core:listar_produtos'%}" class="btn btn-primary button-light">
                        Comprar mais produtos
                    </a>
                    <a href="{% url 'pedidos:criar_pedido'%}" class="btn btn-secondary button">
                        Finalizar
                    </a>
                </p>
        </div>
    </div>
{% endblock %}